<nav class="navbar navbar-default">
    <div class="container-fluid">
       <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{ site.title }}</a>
       </div>
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav pull-right">
             <li class="active"><a href="#">Home</a></li>
             <li><a href="https://shubhanshu.com/blog" target="_blank">Blog</a></li>
             <li><a href="https://github.com/napsternxg">Github</a></li>
             <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Useful Links<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                   <li><a href="https://shubhanshu.com/awesome-scholarly-data-analysis/" target="_blank">Awesome Scholarly Data Analysis</a></li>
                   <li><a href="https://shubhanshu.com/awesome-causality/" target="_blank">Awesome Causality</a></li>
                   <li><a href="./deeplearning.html">DeepLearning Resources</a></li>
                   <li><a href="./resources.html">General resources</a></li>
                   <li class="divider"></li>
                   <li><a href="./assets/pdfs/Shubhanshu_Mishra_CV.pdf">Resume</a></li>
                   <li><a href="https://linkedin.com/in/shubhanshumishra">LinkedIn</a></li>
                   <li><a href="http://smexyyweby.wordpress.com/">Personal Blog</a></li>
                </ul>
             </li>
          </ul>
          <!--<h3 class="text-muted">Shubhanshu Mishra</h3>-->
       </div>
    </div>
 </nav>