<script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@type" : "Person",
    "name" : "Shubhanshu Mishra",
    "url" : "http://shubhanshu.com",
    "logo" : "http://shubhanshu.com/assets/images/pic.jpg"
    "sameAs" : [
    "https://www.facebook.com/shubhanshu.mishra",
    "https://instagram.com/shubhanshumishra/",
    "https://twitter.com/TheShubhanshu"
    "http://www.linkedin.com/in/shubhanshumishra",
    "https://plus.google.com/+ShubhanshuMishra"
    ]
}
 </script>